/**
 * Basic styling
 */
body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: #f1f3f5;
  -webkit-text-size-adjust: 100%;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

/**
 * Clearfix
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
