$color-map: (
  mountain-meadow: #14af83,
  light-sea-green: #15b89a,
  medium-aquamarine: #77dab2,
  sapphire: #0b234b,
  madison: #2c3e50,
  cadet-blue: #5f9ea0,
  salmon: #fd746c,
  black: #000,
  nero: #2a2a2a,
  eclipse: #3a3a3a,
  charcoal: #444,
  lynch: #667788,
  grey: #777,
  gainsboro: #ddd,
  whisper: #e8e8e8,
  white: #fff
)
